{% extends "base.html.twig" %}

{% block body %}
    <!-- Navbar -->
    {{include('flashcards/navbar.html.twig')}}

    <!-- Main Content -->
    <div class="d-flex justify-content-center">
   <p><a class="btn btn-primary mx-2" href="{{ path('flashcards_all') }}">Flashcards</a></p>
   <p><a class="btn btn-primary mx-2" href="{{ path('flashcards_add') }}">Add Flashcard</a></p>
    </div>
{% endblock %}
